<div class="container text-center">
  <h1>Ask a question</h1>
  <form action="show" method="get">
    <input type="text" name="asked" value=<%= params[:question] %>>
    <input type="submit" value="Ask!">
  </form>
</div>
